<!doctype html>
<html lang="en">
<head>
    <meta name="robots" content="noindex">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PHP JBlond Twig Trans</title>
</head>
<body>
<pre>
    {{ dump() }}
</pre>

{% trans %}my string{% endtrans %}<br><br>

{% trans %}Comment{% plural 42 %}Comments{% endtrans %}

{{ 'my string'|trans }}<br><br>

{{ 'Hello %name%'|trans|replace({'%name%': name}) }}<br><br>

THE END

<div>
    {% trans %}
        new text by tag
    {% endtrans %}
</div>

<div>
    {% set test = 'another text by filter'|trans %}
    {{ test }}
</div>

<div style="clear:both;"></div>
</body>
</html>
